progress-bar {
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #bcbec0;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 30%;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 20px;
        background-color: map-get($colors, pgbar);
        font-size:12px;
        transition: all 1000ms ease-out;

    }
 
}
