<ion-header>
    <ion-navbar color="toolbarclr" text-center></ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid class="grid-bg regfrm">
        <h3 text-center>{{"Register" | translate}}</h3>
        <h5 text-center>{{"Just a step away from the new world" | translate}}</h5>
        <p>{{"Fields marked with * are mandatory" | translate}}</p>
        <form [formGroup]="regform" (ngSubmit)="onSubmit(regform.value)">
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="* {{'First Name' | translate}}" [(ngModel)]="userRegData.first_name" formControlName="first_name"
                        name="first_name" required></ion-input>
                </ion-col>
                <span *ngIf="first_name.errors && first_name.touched" class="errorblock">
                    {{"First Name" | translate}} {{ "field is required" | translate }}
                </span>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="* {{'Last Name' | translate}}" [(ngModel)]="userRegData.last_name" formControlName="last_name"
                        name="last_name" required></ion-input>
                </ion-col>
                <span *ngIf="last_name.errors && last_name.touched" class="errorblock">
                    {{'Last Name' | translate}} {{ "field is required" | translate }}
                </span>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="email" placeholder="* {{'Email' | translate}}" [(ngModel)]="userRegData.email" formControlName="email" name="email"
                        required></ion-input>
                </ion-col>
                <div class="errorblock" *ngIf="email.errors && email.touched">
                    <span *ngIf="regform.get('email').hasError('email') && !email.errors.required">{{"Please enter the correct email." | translate}}</span>
                    <span *ngIf="email.errors.required">{{"Email is required" | translate}}</span>
                </div>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="* {{'Phone' | translate}}" [(ngModel)]="userRegData.phone" formControlName="phone" name="phone"
                        required></ion-input>
                </ion-col>
                <span *ngIf="phone.errors && phone.touched" class="errorblock">
                    {{'Phone' | translate}} {{ "field is required" | translate }}
                </span>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-datetime displayFormat="MM/DD/YYYY" (ionChange)="onKeyUp()" placeholder="* {{'Date of birth' | translate}}" [(ngModel)]="userRegData.date_of_birth"
                        formControlName="date_of_birth" name="date_of_birth" required> </ion-datetime>
                </ion-col>
                <div class="errorblock" *ngIf="date_of_birth.errors && date_of_birth.touched">
                    <span *ngIf="date_of_birth.errors.required">{{'Date of birth' | translate}} {{"field is required" | translate}}</span>
                </div>
            </ion-row>
            <ion-row radio-group [(ngModel)]="userRegData.gender" formControlName="gender">

                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center no-padding class="mclass">
                    <ion-item no-lines>
                        <ion-label>{{"Male" | translate}}</ion-label>
                        <ion-radio value="m" name="gender" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center no-padding class="femclass">
                    <ion-item no-lines>
                        <ion-label>{{"Female" | translate}}</ion-label>
                        <ion-radio value="f" name="gender"></ion-radio>
                    </ion-item>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="password" placeholder="* {{'Password' | translate}}" [(ngModel)]="userRegData.password" formControlName="password"
                        name="password" required></ion-input>
                </ion-col>
                <span *ngIf="password.errors && password.touched" class="errorblock">{{'Password' | translate}} {{ "field is required" | translate }}</span>
                <!-- {{password.errors.mismatch | json}} -->
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="password" placeholder="* {{'Confirm password' | translate}}" [(ngModel)]="userRegData.confirm_password"
                        formControlName="confirm_password" name="confirm_password" required></ion-input>
                </ion-col>

                <span *ngIf="confirm_password.errors && confirm_password.touched" class="errorblock">{{'Confirm password' | translate}}{{ "field is required" | translate }}</span>
                <span *ngIf="regform._errors  && confirm_password.touched" class="errorblock">{{'Confirm password' | translate}} {{"mismatch" | translate}}</span>

            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="{{'House Number' | translate}}" [(ngModel)]="userRegData.user_house_nubmer" formControlName="user_house_nubmer"
                        name="user_house_nubmer"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="* {{'Street' | translate}}" [(ngModel)]="userRegData.user_street" formControlName="user_street"
                        name="user_street" required></ion-input>
                </ion-col>
                <span *ngIf="user_street.errors && user_street.touched" class="errorblock">{{'Street' | translate}} {{ "field is required" | translate }}</span>
            </ion-row>
            <ion-list>

                <ion-item>
                    <select-searchable [(ngModel)]="userRegData.user_country" title="* {{'Country' | translate}}" itemValueField="id" itemTextField="name"
                        [items]="countryNames" [canSearch]="true" searchPlaceholder="Enter 3 or more characters, e.g. &quot;san&quot;"
                        (onSearch)="searchCountry($event)" (onChange)="countryChange($event)" formControlName="user_country">
                    </select-searchable>
                </ion-item>
                <span *ngIf="user_country.errors && user_country.touched" class="errorblock">{{ "Please select" | translate }} {{'Country' | translate}}</span>
            </ion-list>
            <ion-list>

                <ion-item>
                    <select-searchable [(ngModel)]="userRegData.user_state" title="* {{'State' | translate}}" itemValueField="id" itemTextField="state_name"
                        [items]="stateName" searchPlaceholder="Enter 3 or more characters, e.g. &quot;san&quot;" (onChange)="stateChange($event)"
                        formControlName="user_state">
                    </select-searchable>
                </ion-item>
                <span *ngIf="user_state.errors && user_state.touched" class="errorblock">{{ "Please select" | translate }} {{'State' | translate}}</span>
            </ion-list>
            <ion-list>

                <ion-item>
                    <select-searchable [(ngModel)]="userRegData.user_city" title="* {{'Cities' | translate}}" itemValueField="id" itemTextField="city"
                        [items]="cityName" searchPlaceholder="Enter 3 or more characters, e.g. &quot;san&quot;" (onChange)="cityChange($event)"
                        formControlName="user_city">
                    </select-searchable>
                </ion-item>
                <span *ngIf="user_city.errors && user_city.touched" class="errorblock">{{ "Please select" | translate }} {{'Cities' | translate}}</span>
            </ion-list>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="* {{'Zip' | translate}}" [(ngModel)]="userRegData.user_zip" formControlName="user_zip"
                        name="user_zip" required> </ion-input>
                </ion-col>
                <span *ngIf="user_zip.errors && user_zip.touched" class="errorblock">{{'Zip' | translate}} {{ "field is required" | translate }}</span>
            </ion-row>
            <ion-row style="border:0.55px solid #ddd">
                <ion-col col-3>
                    <span class="autocompbank">{{"Bank" | translate}}</span>
                </ion-col>
                <ion-col col-9>
                    <ion-searchbar [(ngModel)]="searchedtext" [ngModelOptions]="{standalone: true}" placeholder="Filter Items with Cancel"
                        [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)" (ionCancel)="onCancel($event)">
                    </ion-searchbar>
                </ion-col>
            </ion-row>
            <ion-list *ngIf="showbanklistif">
                <!-- <ion-item *ngFor="let item of filteredbanklist">
                                  {{ item }}
                                </ion-item> -->
                <button no-padding class="banknamebtn" ion-item *ngFor="let item of filteredbanklist" (click)="bankSelected(item,$event)">
                    {{ item }}
                </button>
            </ion-list>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="{{'TRR(bank account)' | translate}}" [(ngModel)]="userRegData.user_bank_accout" formControlName="user_bank_accout"
                        name="user_bank_accout"> </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="{{'Tax number' | translate}}" [(ngModel)]="userRegData.user_tax_number" formControlName="user_tax_number"
                        name="user_tax_number"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>

                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center no-padding>
                    <ion-input type="text" placeholder="Paypal ({{'optional' | translate}})" [(ngModel)]="userRegData.user_paypal" formControlName="user_paypal"
                        name="user_paypal"></ion-input>
                </ion-col>
            </ion-row>
            <button ion-button full color="loginbtn">{{"Register" | translate}}</button>
        </form>
    </ion-grid>
</ion-content>