<ion-list class="accordion-list" *ngIf="!information">
  <h5 text-center>{{"Recommendations" | translate}}</h5>
  <!-- First Level -->
  <h5>Info! Poiščite pametne ponudbe, ki jih boste priporočili. Najdete jih pod zavihtkom "Ponudbe".</h5>
</ion-list>
<ion-list class="accordion-list">
  <h5 text-center>{{"Recommendations" | translate}}</h5>
  <!-- First Level -->

  <ion-list-header *ngFor="let item of information; let i = index" no-padding>
    <!-- Toggle Button -->
    <ion-grid>
      <ion-row nowrap>
        <ion-col col-9>
          <button text-uppercase ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
            {{ item.company.company_name }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngIf="item.open" no-lines>
     <ion-item nowrap>
        <ion-scroll scrollX="true" scrollY="true" style="width: 100%;height:210px;">
          <div id="vwrapper" style="width:750px;">
            <ion-grid>
              <ion-row nowrap class="aa">
                <ion-col col-4 class="strong">IME PONUDBE</ion-col>
                <ion-col col-2 class="strong">PREJEMNIKI</ion-col>
                <ion-col col-4 class="strong">ŠT. NAKUPOV</ion-col>
                <ion-col col-2 class="strong">ZASLUŽENO</ion-col>
              </ion-row>
              <ion-row *ngFor="let offer of item.offers" nowrap>
                <!-- {{offer | json}} -->
                <ion-col col-4>{{offer.offer_title | uppercase}}</ion-col>
                <ion-col col-2>{{offer.no_of_receivers}}</ion-col>
                <ion-col col-4>{{offer.no_of_purchase}}</ion-col>
                <ion-col col-2>{{offer.total_acquire_rewards|currency:'EUR':true}}</ion-col>
              </ion-row>
              <ion-row class="totalhd">
                <ion-col col-4>account recommendations all together</ion-col>
                <ion-col col-2>Ponudb</ion-col>
                <ion-col col-2>Prejemnikov</ion-col>
                <ion-col col-2>Nakupov</ion-col>
                <ion-col col-2>Zasluženo</ion-col>
              </ion-row>
              <ion-row class="totalbg">
                <ion-col col-4></ion-col>
                <ion-col col-2>{{item.total_offers}}</ion-col>
                <ion-col col-2>{{item.no_of_receivers}}</ion-col>
                <ion-col col-2>{{item.no_of_purchase}}</ion-col>
                <ion-col col-2>{{item.total_acquire_rewards |currency:'EUR':true}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>
  </ion-list-header>
</ion-list>