
  <ion-list class="accordion-list">
<h5 text-center>{{"Offers" | translate}}</h5>
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index"  no-padding>
      <!-- Toggle Button -->
      <button text-uppercase ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.department_name }}
      </button>
      
      <ion-list *ngIf="item.open" no-lines>

        <!-- Direct Add Button as Fallback -->
       
        <ion-item nowrap>
            
         
            <ion-scroll scrollX="true" scrollY="true"  style="width: 100%;height:210px;">
                <div id="vwrapper" style="width:750px;">
            <ion-grid>
              <ion-row nowrap>
                <ion-col col-2 class="strong"></ion-col>
                <ion-col col-2 class="strong">{{"OFFER ID" | translate}}</ion-col>
                <ion-col col-2 class="strong">{{"PUBLICATION" | translate}}</ion-col>
                <ion-col col-2 class="strong">{{"MATURITY" | translate}}</ion-col>
                <ion-col col-2 class="strong">{{"PRICE" | translate}}</ion-col>
                <ion-col col-2 class="strong">{{"ADVERTISING COSTS" | translate}}</ion-col>
              </ion-row>  
              <div *ngIf="item.cofferlength >0; else elseBlock">                     
              <ion-row *ngFor="let offer of item.offers" nowrap>
                <ion-col col-2>{{offer.offer_title}}</ion-col>
                <ion-col col-2>{{offer.id}}</ion-col>
                <ion-col col-2>{{offer.start_date | date:"dd.MM.yyyy"}}</ion-col>
                <ion-col col-2>{{offer.end_date | date:"dd.MM.yyyy"}}</ion-col>
                <ion-col col-2>{{offer.offer_price | currency:'EUR':true}}</ion-col>
                <ion-col col-2 *ngIf="offer.offer_bonus_type=='dynamic'">--</ion-col>
                <ion-col col-2 *ngIf="offer.offer_bonus_type=='static'">{{offer.offer_bonus|currency:'EUR':true}}</ion-col>
                <ion-col col-2 *ngIf="showedit"><button ion-button color="dark"  small (click)="edit_offer(offer.id)">{{"Edit" | translate}}</button></ion-col>  
              </ion-row>
             
            </div>  
            
           
            <ng-template #elseBlock>
              <ion-row>
                <ion-col col-12>Currently No offers.</ion-col>
              </ion-row>
            </ng-template>
            </ion-grid>
          </div>
          </ion-scroll>
          
        </ion-item>
    
      </ion-list>
    
    </ion-list-header>
    <ion-grid>
        <ion-row class="totalhd">
            <ion-col col-2></ion-col>
            <ion-col col-3>{{"Offers" | translate}}</ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
        <ion-row class="totalbg">
     
            <ion-col col-2></ion-col>
            <ion-col col-2>{{aggrdata}}</ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>
  </ion-list>
 

