.scroll-tabs {

  .scroll-container {
     height: 40px;
  
    border-bottom: 1px solid color($colors, light);
    .section {
      // min-width: 14vw;
      min-width: 24vw;
      display: inline-flex;
      margin:0 auto;
      padding-bottom: 0;
      .tab9-button {
        border-radius: 0;
        padding-bottom: 3px;
        padding-left: 1px;
        padding-right: 1px;
        margin-right: 2vw;
        margin-left: 2vw;
        color: color($colors, dark);
        text-transform: none !important;
        font-size: 14px;
        margin: 0 auto;

      }
      .tab9-button.selected {
        color: color($colors, primary);
        border-bottom: 3px solid orange;
        -webkit-transition: border-bottom 0.1s; /* Safari */
        -webkit-transition-timing-function: linear; /* Safari */
        transition: border-bottom 0.1s;
        transition-timing-function: linear;
      }
      }
    }
  }

