<ion-list class="accordion-list">
  <h5 text-center>{{"Add People" | translate}}</h5>
  <!-- First Level -->

  <ion-list-header *ngFor="let item of information; let i = index" no-padding>
    <!-- Toggle Button -->
    <ion-grid>
      <ion-row nowrap>
        <ion-col col-9>
          <button text-uppercase ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
            {{ item.department_name }}
          </button>
        </ion-col>
        <ion-col col-3 text-right>
          <button ion-button icon-start color="dark" small (click)="add_people_dept(item.id)">
            <ion-icon name='add'></ion-icon>
            {{"Persons" | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-list *ngIf="item.open" no-lines>
      <!-- Direct Add Button as Fallback -->
      <ion-item nowrap>
        <ion-scroll scrollX="true" scrollY="true" style="width: 100%;height:210px;">
          <div id="vwrapper" style="width:750px;">
            <ion-grid>
              <ion-row nowrap class="aa">
                <ion-col col-4 class="strong">{{"Employees" | translate}}</ion-col>
                <ion-col col-2 class="strong">{{"Role" | translate}}</ion-col>
                <ion-col col-4 class="strong">{{"Email" | translate}}</ion-col>
                <ion-col col-2 class="strong">&nbsp;</ion-col>
              </ion-row>
              <div *ngIf="item.cofferlength >0; else elseBlock">
                <ion-row *ngFor="let emp of item.employees" nowrap>
                  <ion-col col-4>{{emp.user.first_name+' ' + emp.user.last_name | uppercase}}</ion-col>
                  <ion-col col-2>{{emp.user.company_employee.role.name}}</ion-col>
                  <ion-col col-4>{{emp.user.email}}</ion-col>
                  <ion-col col-2>
                    <button ion-button color="dark" small (click)="edit(emp.user.id)">{{"Edit" | translate}}</button>
                  </ion-col>
                </ion-row>
              </div>
              <ng-template #elseBlock>
                <ion-row>
                  <ion-col col-12>No Employees found. </ion-col>
                </ion-row>
              </ng-template>
            </ion-grid>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>
  </ion-list-header>
</ion-list>